{{ with resources.GetRemote
$.Site.Params.url }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}


{{ range . }}
<h4>{{ .Name }}</h4>
{{ $url := print "https://purchase-api.dynabic.com/v1.2/productFamily/site-aspose/name-" "" .Name }}
{{ with resources.GetRemote $url }}



{{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}

{{ range .Products }}
  <p>{{ .Name }}</p>

  {{ range .PricingPlans }}
    {{ $displayOrder := int .DisplayOrder }} 
    {{ if not (lt $displayOrder 0) }} {{ if or (not (strings.Contains .Name "Metered")) }}
      {{ $lowestCharge := 999999 }}
      {{ range .PaymentScheduleList }}
        {{ if lt .SubscriptionPeriodCharge $lowestCharge }}
          {{ $lowestCharge = .SubscriptionPeriodCharge }}
        {{ end }}
      {{ end }}
      <p>Lowest: {{ $lowestCharge }}</p>
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}

{{ end }}{{ end }}{{ end }}{{ end }}

{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}




