{{ with resources.GetRemote
$.Site.Params.url }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}


{{ range . }}
<h4>{{ .Name }}</h4>
{{ $url := print "https://purchase-api.dynabic.com/v1.2/productFamily/site-aspose/name-" "" .Name }}
{{ with resources.GetRemote $url }}



{{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}

{{ range .Products }}

<p>{{ .Name }}</p>

{{ range .PricingPlans }}
{{ if not (eq .DisplayOrder -1) }} 

{{ range .PaymentScheduleList }}

{{ .SubscriptionPeriodCharge }}



{{ end }}




{{ end }}

{{ end }}

{{ end }}

{{ end }}{{ end }}{{ end }}{{ end }}


{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}




